<!DOCTYPE html>
<html>
  <head>
    <title>Saasapp</title>
    <%= csrf_meta_tags %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="//fonts.googleapis.com/css2?family=Xanh+Mono&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

    <body>
      <nav class="navbar navbar-light bg-light">
        <a href="/" class="navbar-brand">DevMatch</a>
        
        <div class = "collapse navbar-collapse" id="main-nav-collapse">
          <ul class = "nav navbar-nav navbar-right">
            <li> <a href ="/about">About</a> </li>
          </ul>  
        </div>
      </nav>
    
    <div class ="container">
      <%= yield %>
    </div>
  </body>
</html>
